<!DOCTYPE html>
<html>
<head>
  <title>ToolChest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |type, message| %>
  <div><%= message %></div>
<% end %>
<%= yield %>

  <p>
    <strong>Newest tool:</strong> <%= most_recent_tool %>
  </p>

  <p>
  <strong>Current Sessions Tool Summary:</strong> <%= current_tool_summary %>
</p>

</body>
</html>
